<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" content="width=device-width, initial-scale=1" name="viewport">
		<title>{{ pageTitle }}</title>
		<link rel="stylesheet" href="/assets/main.css" type="text/css">
		<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet" type="text/css">
	</head>
	<body>
		{% block content %}{% endblock %}
		<footer>
			{% block footer %}{% endblock %}
		</footer>
	</body>
</html>